.add-location-form {
  width: 100%;
}
.add-location-box {
  margin: auto;
  width: 50%;
}
.add-location-box > .btn {
  float: right !important;
}
.map-box {
  display: flex;
}
.map-box > * {
  width: 50%;
}
