.main-div-select{
    width: 100%;
    display: flex;
}
.main-div-select>*{
    width: 50%;
}
select {
    border-radius:4px;
    border:1px solid var(--Secondary);
    outline:none;
    display: inline-block;
    appearance:none;
    cursor:pointer;
    padding: 4px 4px 4px 0;
    width: 100%;
}

.select-box label {
    position:relative;  
    
}

.select-box label:after {
    content:'>';
    font-size:15px ;
    color:var(--Secondary);
    transform:rotate(90deg);
    right:5px; 
    top:2px;
    position:absolute;
    pointer-events:none;
}
.select-box label:before {
    content:'';
    right:1px; top:-2px;
    width:20px; height:23px;
    background:rgb(207, 234, 244);
    position:absolute;
    display:block;
    border-left: 1px solid var(--Secondary);
    border-radius: 2px;

}
